*{
    margin: 0;
    padding: 0;
}
.header_menu {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
    
.logo{
    width: 20%;
}
div{
    display: block;
}
.unsub{

}
.unsub h3{
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-size: 13px;
    color: rgb(132, 133, 134);
}
.banner{
    background-image: url(../image/01.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 250px 0px;
    
}
.banner h1 {
    margin-bottom: 20px;
    color: white;
    font-weight: 400;
    font-size: 32.38px;
    font-family: Roboto, sans-serif
}
.banner h3{
margin-bottom: 40px;
font-weight: 400;
font-size: 15px;
color: white;
font-family: Roboto, sans-serif;
}
.banner button {
    background-color: rgb(251, 110, 82);
    padding: 12px 35px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-family: Roboto, sans-serif;
}


.service_section {
    width: 80%;
    margin: auto;
    padding: 50px 0;

}
.service {
    display: flex;
    justify-content: space-between;
}
.service_item {
    text-align: center;
    width: 31%;
    font-family: Roboto, sans-serif
}

.service_item h2 {
    text-transform: capitalize;
    margin: 10px 0;
    font-family: Roboto, sans-serif
}

.service_item p {
    color: #97999b;
    font-size: 14px;
    font-family: Roboto, sans-serif
}
.service_item {
    text-align: center;
    width: 31%;
}
.service_item h2 {
    text-transform: capitalize;
    margin: 10px 0;
}

.service_item {
    text-align: center;
    width: 50%;
}
.service_item h2 {
    text-transform: capitalize;
    margin: 10px 0;
}

.service_item p {
    color: #97999b;
    font-size: 14px;
}


.service_heading {
    margin: auto;
    text-align: center;
    width: 50%;
    margin: 30px auto;
    margin-bottom: 70px;
}
.service_heading h1 {
    font-size: 22px;
    font-style: italic;
    color: #ee5e41;
    font-family: roboto
}

.main_service {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    margin: 5%;
    padding: auto;
    width: 80%;
    margin-left:10%;
    
}
.main_service_item {
    width: 31%;
    text-align: center;
    margin: auto;
    margin: 25px;
}
.main_service_item h2 {
    color: #000;
    font-size: 18px;
    margin: 10px 0;
    font-family: roboto;
}

.main_service_item p {
    color: #9ea0a2;
    font-size: 14px;
    font-family: roboto;
}


.blog_section {
    background: #f5f2f2;
}
.blog_heading h1 {
    text-align: center;
    color: #000000;
    font-size: 22px;
    margin-bottom: 50px;
    padding-top: 50px;
    font-family: roboto;
}
.blog_srvice {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin: 50px auto;
}
.blog_service_item {
    width: 47%;
    text-align: center;
}
.blog_service_item img {
    width: 100%;
}
.blog_service_item h1 {
    text-align: start;
    margin: 20px 0;
    color: #fe6e54;
    font-size: 18px;
    font-family: roboto;
}
.blog_service_item p {
    text-align: justify;
    color: #9ea0a2;
    font-size: 13px;
}


footer{
    background-color: #292c34;
    padding: 30px 0;
    margin-top: 200px;

}
.footer_content{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;

}
.terms{

}
.terms ul{
    display: flex;
    list-style: none;
}

.terms ul li{
    margin: 15px;

}
.terms ul li a{ 
    text-decoration: none; 
    text-transform: capitalize;
    font-size: 15px;
    color: #626262;

}


.social_icon{

}
.social_icon ul{
    list-style: none;
    display: flex;
    
}
.social_icon ul li{
    margin-left: 15px;
    text-transform: capitalize;
}
.social_icon ul li a{
    color: #626262;
    text-decoration: none;
}

.rights h3 {
    margin-left: 40px;
    margin-top: 14px;
    color: #797c82;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}
.logo_part {
    display: flex;
    margin-left: 0px;
}